<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StoreMvc.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header>
        <nav class="navbar fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Fixed top</a>
            </div>
        </nav>
        </header>
        @RenderBody()
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - OneAplicationMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>