@using WebApplication2.Extensions

<div>Lista de Hoteis</div>
@{
    if (this.IfClaim("Listar","Hoteis"))
    {
        <h2>Olá sergio Esses são os seus hoteis</h2>
        <br>
        <p>Aqui está um lindo senario de parati</p>
    }
}
<div href="" class="btn btn-danger" @Html.Raw(this.IfClaimShow("Listar","csas"))>Adicionar</div>