@using WebApplication2.Extensions
<div>Dados sigilosos do usuario</div>
<br>
@{
    if (this.IfClaim("Produtos", "Ler"))
    {
    <p>Você só vera isso se tiver permissão de adicionar</p>
    }
}
<div>
    @Html.ActionLink("Secret","Secret").IfClaimShow(Context, "Produtos","Ler");
</div>
<div href="#" class="btn btn-dark" @Html.Raw(this.IfClaimShow("Produtos","Ler"))>Excluir</div>