
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nome</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="for-group">
                <label asp-for="DataDeNascimento">Data De Nascimento</label>
                <input asp-for="DataDeNascimento" class="form-control">
                <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
            </div>
            <div class="for-group">
                <label asp-for="Rua">Rua</label>
                <input asp-for="Rua" class="form-control">
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="for-group">
                <label asp-for="Rua">CPF</label>
                <input asp-for="Rua" class="form-control">
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="for-group">
                <label asp-for="Rua">RG</label>
                <input asp-for="Rua" class="form-control">
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="for-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>