@model ProcessoSeletivo.Models.Container

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Container</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumerosDoConatiner" class="control-label"></label>
                <input asp-for="NumerosDoConatiner" class="form-control" />
                <span asp-validation-for="NumerosDoConatiner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <div>
                    <input type="radio" value="1" asp-for="Categoria" checked />Importação<br />
                    <input type="radio" value="2" asp-for="Categoria" checked />Exportação
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
               <div>
                    <input type="radio" value="1" asp-for="Status" checked />Cheio<br />
                    <input type="radio" value="2" asp-for="Status" checked />Vazio
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <div>
                    <input type="radio" value="1" asp-for="Tipo" checked />Vinte<br />
                    <input type="radio" value="2" asp-for="Tipo" checked />Quarenta
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
